%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title With Love, Bani
    %link{:href => "https://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet"}
    %link{:href => "css/index.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %section.comingSoon
      .text
        %h1
          %span.logo With Love, Bani
          %span is coming soon.
        %h3
          Check out our
          %a.facebook{:href=>"http://facebook.com/withlovebani"} Facebook
          page until we're ready for you. 
          %br
          Redirecting...
