!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %meta{:content => "With Love Bani | Bespoke Couture and High-End Fashion Solutions", :name => "description"}
    %meta{:content => "noodp", :name => "robots"}
    %meta{:content => "bespoke couture fashion design apparel quality bani duggal with love bani dresses shoes designer clothing custom styling new york lastest trends fall summer winter spring haute high beautiful color", :name=>"keywords"}
    %link{:href => "http://withlovebani.com", :rel => "canonical"}
    %meta{:content => "en_US", :property => "og:locale"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "With Love Bani | Bespoke Couture and High-End Fashion Solutions", :property => "og:title"}
    %meta{:content => "With Love Bani | Bespoke Couture and High-End Fashion Solutions", :property => "og:description"}
    %meta{:content => "http://withlovebani.com", :property => "og:url"}
    %meta{:content => "With Love Bani | Bespoke Couture and High-End Fashion Solutions", :property => "og:site_name"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89293172-2', 'auto');
      ga('send', 'pageview');
    %title With Love Bani | Bespoke Couture and High-End Fashion Solutions
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/index.css", :rel => "stylesheet"}
  %body
    %nav
      .logo#logo With Love, Bani
      %h6.subheading Bespoke Couture & Personal Styling
      %a{:href=>"#"} Portfolio
      %a{:href=>"about/"} About
      %a{:href=>"contact/"} Contact
      .addthis_inline_follow_toolbox
    %section.loading.logo
      %h1
        .text.animated.slideInLeft With&nbsp;
        .text.animated.slideInDown Love,
        %br
        .text.animated.slideInRight Bani
    .main.animated.fadeIn
      %section.portfolio.animated.fadeIn
        %img{:alt=>"White Two Piece", :title=>"White Two Piece", :src=>"/res/img/whiteTwoPiece.jpg"}
        %img{:alt=>"Furry Black Clothes", :title=>"Furry Black Clothes", :src=>"/res/img/furry.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/purpleTopBlackPants.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/modernValentines.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/blackTopRedSkirt.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/greenTopPinkBottoms.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/blue2Piece.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/blackAndFlowers.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/classyBlack.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/colorfulFloweryDress.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/facesDressWithoutSleeves.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/facesDressWithSleeves.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/flowery2Piece.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/purpleTopYellowPants.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/redAndBlackDress.jpg"}
        %img{:alt=>"", :title=>"", :src=>"/res/img/whiteAndBlue.jpg"}
    %script{:src=>"js/jquery-3.1.1.min.js"}
    %script{:src=>"js/index-dist.js"}
    %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58c32abb34e38745", :type => "text/javascript"}