:css
  .portfolio {
    / display: none;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .portfolio > img {
    height: 100%;
    // object-position: 50% 50%;
    // object-fit: cover;
    display:inline-block;
    display:inline;
    zoom:1;
    vertical-align:top;
   }
%section.portfolio.animated.fadeIn
  %img{:alt=>"White Two Piece", :title=>"White Two Piece", :src=>"res/img/whiteTwoPiece.jpg"}
  %img{:alt=>"Furry Black Clothes", :title=>"Furry Black Clothes", :src=>"res/img/furry.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/purpleTopBlackPants.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/modernValentines.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/blackTopRedSkirt.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/greenTopPinkBottoms.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/blue2Piece.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/blackAndFlowers.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/classyBlack.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/colorfulFloweryDress.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/facesDressWithoutSleeves.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/facesDressWithSleeves.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/flowery2Piece.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/purpleTopYellowPants.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/redAndBlackDress.jpg"}
  %img{:alt=>"", :title=>"", :src=>"res/img/whiteAndBlue.jpg"}