:css
  .portfolio {
    / display: none;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .portfolio > img {
    height: 100%;
    // object-position: 50% 50%;
    // object-fit: cover;
    display:inline-block;
    display:inline;
    zoom:1;
    vertical-align:top;
   }
%section.portfolio.animated.fadeIn
  %img{:src=>"res/img/whiteTwoPiece.jpg"}
  %img{:src=>"res/img/blue2Piece.jpg"}
  %img{:src=>"res/img/blackAndFlowers.jpg"}
  %img{:src=>"res/img/classyBlack.jpg"}
  %img{:src=>"res/img/colorfulFloweryDress.jpg"}
  %img{:src=>"res/img/facesDressWithoutSleeves.jpg"}
  %img{:src=>"res/img/facesDressWithSleeves.jpg"}
  %img{:src=>"res/img/flowery2Piece.jpg"}
  %img{:src=>"res/img/purpleTopYellowPants.jpg"}
  %img{:src=>"res/img/redAndBlackDress.jpg"}
  %img{:src=>"res/img/whiteAndBlue.jpg"}