@import '../../scss-mixins/defaults', '../../scss-mixins/nav', '../../scss-mixins/loading';

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.about {
  height: 100%;
  width: 100%;
}
.about > .baniImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  float: left;
}
.about > .baniImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 7.5%;
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
.about > .baniImg:hover > img {
  -moz-transition: all 20s;
  -webkit-transition: all 20s;
  transition: all 20s;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); 
}
.about > .baniText {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2rem);
  width: calc(50% - 2rem);
  float: left;
  overflow: auto;
  margin: 1rem;
}
.about > .baniText > .text  {
  line-height: 150%;
  font-size: 1.2rem;
}
.about > .baniText > .text .logo {
  font-weight: bold;
  font-size: 125%;
}
.about > .baniImg > .credits {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  background: white;
}
@media (max-width: 786px) {
  .about > .baniText .text  {
    font-size: 1rem;
  }
  .about > .baniImg > .credits > h3 {
    font-size: 1rem;
  }
  .about > .baniImg > .credits > h4 {
  
  }
}