@import '../scss-mixins/defaults', '../scss-mixins/nav', '../scss-mixins/loading', '../scss-mixins/alex-brush', '../scss-mixins/source-sans-pro';

//CSS
body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  
  .main {
    position: fixed;
    top: 0;
    height: calc(100% - 5.25rem);
    width: 100%;
    overflow: hidden;

    section.portfolio {
      // display: none;
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;

      img {
        height: 100%;
        display:inline-block;
        display:inline;
        zoom:1;
        vertical-align:top;
        @include transition(all, 0.3s);
      }
    }
  }
}